<c-corporate-header [siteName]="title"></c-corporate-header>
<c-main-content>
  <c-main-navigation>
    <primary-items>
      <ng-template ngFor let-item [ngForOf]="items">
        <nav-item *ngIf="!item.redirectTo">
          <a [routerLink]="item.path">{{item.path}}</a>
        </nav-item>
      </ng-template>
      <!-- <nav-item><a routerLink="/">home</a></nav-item>
      <nav-item><a routerLink="/vmo">vmo</a></nav-item> -->
    </primary-items>
  </c-main-navigation>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</c-main-content>
<c-corporate-footer></c-corporate-footer>